*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
}

a{
    text-decoration: none;
}

.logo{
    position: absolute;
    top: 50px;
    left: 90px;
}
.logo a{
    color: #2f2e41;
    font-weight: bold;
    letter-spacing: 1;
    font-size: 2rem;
    text-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.searcharea{
    position: fixed;
    top: 50px;
    right: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
    width: 170px;
    height: 45px;
    border-radius: 10% 10% 10% 10%/50% 50% 50% 50%;
    box-sizing: border-box;
    border: 1px solid rgba(167, 158, 245, 0.2);
    z-index: 1;
}

.searchbox input{
    width: 90px;
    height: 20px;
    outline: none;
    border: none;
    padding: 0px 10px;
    color: #1f1f1f;
    background-color: transparent;
    font-size: 1rem;
}

.searchbox input::placeholder{
    letter-spacing: 2px;
    color: #1d1d1d;
    font-weight: 700;
    font-size: 0.8rem;
    font-family: 'Croissant One', serif;
    font-family: 'Poppins', sans-serif;
}

.section{
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-15%,-50%);
}

.section img{
    height: 300px;
}

.section1button{
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-90%,-50%);
}

.section1button h1, h2{
    line-height: 60px;
    margin: 0;
    color: #3d3d4a;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.8);
}

span{
    color: #7a72ff;
}

.section1button h1{
    letter-spacing: 26px;
}

.section1button .btn{
    width: 150px;
    height: 40px;
    border-radius: 10% 10% 10% 10%/50% 50% 50% 50%;
    outline: none;
    border: none;
    background-color: #2f2e41;
    color: white;
    border:transparent !important;
    cursor: pointer;
    letter-spacing: 0.5px;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    display:flex;
    margin-top: 20px;
    transition: all 0.3s ease-out 0.3s;
}

.section1button .btn:hover{
    background-color: #6e64ff;
    color: rgb(255, 255, 255);
    transition: all 0.2s ease-in-out 0.1s;
    box-shadow: 2px 2px 7px #a2a1b9,-2px -2px 7px #a2a1b9;
}

.sidebar{
    position: fixed;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    background-color: #ffffff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    z-index: 1;
}

.sidebar a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
}

.sidebar a i{
    color: rgba(39, 39, 39,0.80);
    transition: all 0.3s ease-in-out;
}
.sidebar a:hover .fa-facebook-f{
    color: #244896;
}
.sidebar a:hover .fa-twitter{
    color: #00acee;
}
.sidebar a:hover .fa-instagram{
    color: #3f729b;
}
.sidebar a:hover .fa-youtube{
    color: #ff0000;
}

.productsection{
    width: 85%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 30px rgba(167, 158, 245, 0.2);
    flex-direction: column;
    background-size: 1000px;
    padding: 40px 20px;
    margin: 30px auto;
    margin-top: -60px;
    position: relative;
    border-radius: 10px;
}

.productsection > h3{
    margin: 20px;
    color: #323543;
    font-size: 2rem;
    font-weight: bold;
    font-family: serif;
    letter-spacing: 2px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
}

.productsection > h3 span{
    font-family: serif;
}

.product{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px ;
    flex-wrap: wrap;
}

.productbox{
    width: 250px;
    height: 330px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 10px 60px;
    position: relative;
    border-radius: 10px;
}
.productbox img{
    height: 180px;
}

.productbox p{
    color: #4d4d4d70;
    font-family: serif;
    font-size: 0.9rem;
    letter-spacing: 0.5;
}

.productbox a{
    color: #2c2c2c;
    font-family: poppins;
    font-weight: bold;
    font-size: 1rem;
}

.buybtn{
    width: 140px;
    height: 40px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    bottom: -20px;
    left: 50%;
    border-radius: 15% 15% 15% 15%/50% 50% 50% 50%;
    background: linear-gradient(120deg, #6b60ec 20%, #a166f4);
    color: white;
    transform: translateX(-50%);
    display: none;
    animation: fade 0.2s;
}

.productbox:hover .buybtn{
    display: flex;
    color: white;
}

.productbox:hover{
    box-shadow: 2px 2px 30px  rgba(0, 0, 0, 0.2);
    background-color: white;
}

.about{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px auto;
    width: 85%;
    padding: 30px;
}

.aboutbox{
    width: 40%;
    font-family: serif;
}

.aboutbox img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.aboutbox h1{
    color: #1f1f1f;
    font-size: 3rem;
    font-family: serif;
    font-weight: bold;
    margin: 0px;
}

.aboutbox h4{
    color: #333333;
    font-weight: 400;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.aboutbox p{
    color: bdbdbd;
    font-size: 1rem;
    font-family: sans-serif;
    font-style: italic;
}

.about{
    margin-top: 150px;
    margin-bottom: 150px;
}

.notification{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.notification h1{
    font-size: 2rem;
    color: rgb(56, 56, 56);
}

.notificationinput{
    width: 500px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 7% 7% 7% 7%/50% 50% 50% 50%;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
}

.notificationinput input{
    width: 80%;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
}

.notificationinput a{
    width: 75px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202020;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    color: white;
    font-size: 1rem;
    transition: all ease 0.5s;
}

.notificationinput a:hover{
    background-color: #6b60ec;
    transition: all ease 0.5s;
    box-shadow: 2px 2px 10px #6c60ec57;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: black;
    padding: 15px;
    bottom: 0;
    margin-top: 5px;
}
.footer p{
    color: white;
    text-align: center;
    letter-spacing: 1px;
    font-family: roboto;
    font-size: 1rem;
}